<a href="https://colab.research.google.com/github/bjkc/new-discrete/blob/main/PROJECT7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#project 7


discrete math


bijay raj kc

In my proposition i will be choosing three different states for my desire to go for a spring break if i go on the vaccation this spring break .

In [3]:
FLORIDA = True
LOUISIANA = True
KENTUCKY = False

above true means i have a desire to go and false means i dont want to go

          now i will be creating truth statements now p∧r

In [4]:
FLORIDA and LOUISIANA

True

NOW, 


   r ∨ ￢q

In [5]:
LOUISIANA or not(KENTUCKY)

True

r -> p

In [6]:
not(LOUISIANA) or FLORIDA

True

I WILL MAKE TRUTH TABLE NOW

In [7]:
!pip install truth-table-generator
import ttg

Collecting truth-table-generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-generator) (2.0.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)
Building wheels for collected packages: truth-table-generator, PTable
  Building wheel for truth-table-generator (setup.py) ... done
  Created wheel for truth-table-generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=d69ed40bdfb6bd69d1d7f3b4e8174a1a0d41edf43a4605d108b9c013f2f8c7b2
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=9e18a8c3b2d8668781e71da081a162a52d710177a614bd56be5abe8973213104
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-generator PTable
Installing collected packages: PTable, truth-table-generator
Successfully installed PTable-0.9.2 truth-table-generator-1.1.2

HERE IS THE TABLE

In [8]:
table = ttg.Truths(['p', 'q', 'r'], ['p xor q', '~(p xor q)', 'q or r', '(~(p xor q)) => (q or r)'], ints = False)
table.as_pandas().style.set_properties(**{'text-align': 'left'}).hide_index()