<a href="https://colab.research.google.com/github/bjkc/new-discrete/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#project 4 Discrete math
Bijay raj kc


In this project also i am using the playing cards for the counting and determining the 10 sequences, in playing cards there are four kind of symbol that is diamond, heart,spades and club so there will be four possibilities if i draw it ten times
  
                      4*4*4......*4=4^10

                      here are my possible card

In [ ]:
possibleCard = ['diamonds','spades','heart','clubs']

In [ ]:
4**10

1048576

We will have 10 spaces now to fill the 4 categories we will repeat and use pigeanhole principle and suppose n as a number of space and m as a categories

            (n+m-1)!/n!(m-1)1

In [ ]:
import math

math.factorial(13)/(math.factorial(10)*math.factorial(3))

286.0

Here if the order matters i will use 4!
and if it doesn't we will use ,
                             nCm=4!/0!4!

In [ ]:
math.factorial(4)

24

In [ ]:
from itertools import permutations
print(list(permutations(possibleCard,4)))

[('diamonds', 'spades', 'heart', 'clubs'), ('diamonds', 'spades', 'clubs', 'heart'), ('diamonds', 'heart', 'spades', 'clubs'), ('diamonds', 'heart', 'clubs', 'spades'), ('diamonds', 'clubs', 'spades', 'heart'), ('diamonds', 'clubs', 'heart', 'spades'), ('spades', 'diamonds', 'heart', 'clubs'), ('spades', 'diamonds', 'clubs', 'heart'), ('spades', 'heart', 'diamonds', 'clubs'), ('spades', 'heart', 'clubs', 'diamonds'), ('spades', 'clubs', 'diamonds', 'heart'), ('spades', 'clubs', 'heart', 'diamonds'), ('heart', 'diamonds', 'spades', 'clubs'), ('heart', 'diamonds', 'clubs', 'spades'), ('heart', 'spades', 'diamonds', 'clubs'), ('heart', 'spades', 'clubs', 'diamonds'), ('heart', 'clubs', 'diamonds', 'spades'), ('heart', 'clubs', 'spades', 'diamonds'), ('clubs', 'diamonds', 'spades', 'heart'), ('clubs', 'diamonds', 'heart', 'spades'), ('clubs', 'spades', 'diamonds', 'heart'), ('clubs', 'spades', 'heart', 'diamonds'), ('clubs', 'heart', 'diamonds', 'spades'), ('clubs', 'heart', 'spades', 'diamonds')]

So as i have 24 possible outcome and also looks good for all the possible outcomes.

In [ ]:
math.factorial(4)/(math.factorial(0)*math.factorial(4))

1.0

Here there is only 1 possible outcome lets see the single possible outcome then

In [ ]:
from itertools import combinations
print(list(combinations(possibleCard,4)))

[('diamonds', 'spades', 'heart', 'clubs')]

i will be able to find 5th term of polynomial
                               

                            (x-3)^9
                                  
                                  Tr+1=nCr(x)^(n-r)y^r
                                  t4+1=9C4x^5(-3)^4

In [ ]:
(math.factorial(9)/(math.factorial(5)*math.factorial(4)))*((-3)**4)

10206.0

From the above result the fifth term will be 10206x^5